@mixin cbp-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  mat-sidenav-container {
    mat-toolbar {
      button {
        &.active {
          color: mat-color($primary, default-contrast);
          background-color: mat-color($primary);
        }
      }

      .link {
        color: mat-color($primary, default-contrast);
      }
    }


    .footer {
      color: mat-color($primary, lighter);
      background-color: mat-color($primary, darker);

      .links,
      .signature {
        a {
          color: mat-color($primary, lighter);
          &:hover {
            color: mat-color($primary);
          }
        }
      }
    }
  }
}