// CF Theme Buttons

@mixin raised_button($bg-color, $txt-color) {
  background: $bg-color;
  color: $txt-color;
}

@mixin flat_buttons($color) {
  color: $color;
}

// Raised Buttons
button.mat-raised-button {
  &.cbp-button-success {
    @include raised_button($brand-success, $light-primary-text);
  }
  &.cbp-button-danger {
    background: $brand-danger;
    color: $light-primary-text;
  }
  &.cbp-button-info {
    background: $brand-info;
    color: $light-primary-text;
  }
}

