@mixin cbp-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  mat-sidenav-container { // note: custom to the current build
    mat-toolbar {
      button {
        &.active {
          color: mat-color($primary, default-contrast);
          background-color: mat-color($primary);
        }
      }

      .link {
        color: mat-color($primary, default-contrast);
      }
    }

    .footer {
      color: mat-color($primary, lighter);
      background-color: mat-color($primary, darker);

      .links,
      .signature {
        a {
          color: mat-color($primary, lighter);
          &:hover {
            color: mat-color($primary);
          }
        }
      }
    }
  }

  mat-toolbar-row {
    height: auto;
    padding: 5px 70px 5px 17px;
    &.subtitle {
      padding: 0px 70px 0px 17px;
    }
    .cbpBrand {
      display: block;
      font-size: getFontSize(body-2);
      line-height: 20px;
    }
    .cbpSubBrand {
      font-size: getFontSize(caption);
      margin: 3px 0 0;
      font-style: italic;
      display: block;
    }
  } 
}