@import url('https://fonts.googleapis.com/css?family=Roboto');

// Whites and Blacks
$white:       #ffffff;
$black:       #000000;
$gray-darker: #222222;
$gray-dark:   #333333;
$gray:        #555555;
$gray-mute:   #999999;
$gray-medium: #808080;
$gray-light:  #aaaaaa;
$gray-lighter:#eeeeee;
$gray-lightest:#f6f6f6;

// Brand Colors
$brand-primary: #00416a;
$brand-success: #008000;
$brand-info:    #1460aa;
$brand-warning: #f09511;
$brand-danger:  #a00000;

// Subtle Colors
$brand-primary-subtle: #ecf1f4;
$brand-success-subtle: #ecf5ec;
$brand-info-subtle:    #edf3f9;
$brand-warning-subtle: #fef7ed;
$brand-danger-subtle:  #f8ecec;

// Fonts
$font-family-sans-serif:  'Roboto', 'Calibri', 'Tahoma', 'Arial', 'sans-serif';
$font-family-serif:       'Georgia', 'Times New Roman', 'Times', 'serif';
$font-family-mono:        'Menlo', 'Monaco', 'Consolas', 'Courier New', 'monospace';
$font-family-base:        $font-family-sans-serif;
$font-weight-base:        400;

$font-size-base:          13px !default; // default 14px
$font-size-large:         ceil(($font-size-base * 1.25)) !default;
$font-size-small:         ceil(($font-size-base * 0.87)) !default;

$font-size-h1:            30px !default; //30px
$font-size-h2:            24px !default; //24px
$font-size-h3:            22px !default; //22px
$font-size-h4:            20px !default; //20px
$font-size-h5:            18px !default; //18px
$font-size-h6:            16px !default; //16px

$dark-primary-text: $gray-darker;
$light-primary-text: $white;

// Custom map shades to match up with CF Style Guide
// To generate maps: https://material.io/design/color/the-color-system.html#tools-for-picking-colors
// TODO: Re-generate A-Maps, since they're based off of incorrect shades.

$primary-map: (
  50:  #e3f0f4,
  100: #b9d9e6,
  200: #90c2d7,
  300: #6aaac7,
  400: #4f99be,
  500: #358ab5,
  600: #287daa,
  700: #1b6d9a,
  800: #105d89,
  900: $brand-primary,
  A100: $brand-primary-subtle,
  A200: lighten($brand-primary, 15%),
  A400: $brand-primary,
  A700: darken($brand-primary, 15%),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$success-map: (
  50: #e7f6e6,
  100: #c6e7c1,
  200: #a0d899,
  300: #78c96f,
  400: #58be4e,
  500: #35b228,
  600: #2aa31f,
  700: #199111,
  800: $brand-success,
  900: #006100,
  A100: $brand-success-subtle,
  A200: lighten($brand-success, 15%),
  A400: $brand-success,
  A700: darken($brand-success, 15%),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);

$warning-map: (
  50:  #fdf3e0,
  100: #fadfb3,
  200: #f7ca82,
  300: #f4b550,
  400: #f2a62c,
  500: $brand-warning,
  600: #ec8b0e,
  700: #e67c0a,
  800: #e06d07,
  900: #d65505,
  A100: $brand-warning-subtle,
  A200: lighten($brand-warning, 15%),
  A400: $brand-warning,
  A700: darken($brand-warning, 15%),
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  )
);

// Custom Material Variables and Overrides

$cbp-primary:   mat-palette($primary-map, 900, 600, 900);
$cbp-accent:    mat-palette($primary-map, 400, 200, 700);
$cbp-warning:   mat-palette($warning-map, 500, 200, 800);
$cbp-theme:     mat-light-theme($cbp-primary, $cbp-accent, $cbp-warning);

$cbp-font-config: mat-typography-config(
  $font-family:   $font-family-base,
  $headline:      mat-typography-level($font-size-h1, $font-size-h1, $font-weight-base),
  $title:         mat-typography-level($font-size-h2, $font-size-h2, $font-weight-base),
  $subheading-1:  mat-typography-level($font-size-h3, $font-size-h3, $font-weight-base),
  $subheading-2:  mat-typography-level($font-size-h4, $font-size-h4, $font-weight-base),
  $body-2:        mat-typography-level($font-size-h5, $font-size-h5, $font-weight-base),
  $body-1:        mat-typography-level($font-size-base, $font-size-large, $font-weight-base),
  $caption:       mat-typography-level($font-size-small, $font-size-small, $font-weight-base),
);
